.flashcards-screen {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
}

.flashcard {
  background-color: #1E293B;
  padding: 2.5rem 4rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: min(90%, 750px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.flashcard-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
}

.icon-btn {
  border: none;
  background-color: var(--btn-primary);
  cursor: pointer;
  color: white;
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.icon-btn svg {
  width: 20px;
  flex-shrink: 0;
}

.german-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  -webkit-tap-highlight-color: transparent;
}

.volume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--btn-primary);
  border: none;
  cursor: pointer;
  padding: 18px 18px;
  opacity: 0.9;
  border-radius: 50%;

}

.german-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.english-text {
  font-size: 2rem;
  min-height: 40px;
  font-weight: bold;
  color: var(--btn-secondary);
  text-align: center;
  font-weight: bold;
}

.flashcard-buttons {
  display: flex;
  gap: 15px;
  width: 80%;
}

.answer-btn {
  background-color: #8B5CF6;
  color: white;
}

.next-btn {
  background-color: var(--btn-secondary);
  color: white;
}

.flashcard-buttons button {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  flex: 1;
}
.progress {
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .flashcard {
    min-width: auto;
    width: 90%;
    padding: 4rem 1rem;
    gap: 30px;
  }

  .flashcard-header {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .icon-btn {
    width: 45px;
    height: 45px;
  }

  .german-text {
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .english-text {
    font-size: 1.5rem;
    line-height: 1.5;
    min-height: 60px;
  }

  .flashcard-buttons {
    width: 100%;
  }

  .flashcard-buttons button {
    flex: 1;
  }

  button {
    width: auto;
    height: 50px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .flashcard {
    width: 95%;
    padding: 25px 15px;
    gap: 25px;
  }

  .german-text {
    font-size: 1.6rem;
  }

  .english-text {
    font-size: 1.4rem;
  }

  .flashcard-header {
    font-size: 0.95rem;
  }

  .icon-btn {
    width: 40px;
    height: 40px;
  }

  button {
    height: 45px;
    font-size: 0.9rem;
  }
}